doctype html
html(lang="es")
    head    
        title Tareas APAP
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    body
        div(class="row")
            div(class="col-sm-4")
                img(src="logoApap.jpg")
            div(class="col-sm-2")
                a(href="/TareasApap/Login") Inicio
            div(class="col-sm-2")
                a(href="") Tareas
            div(class="col-sm-2")
                a(href="") Manejo Usuarios
            div(class="col-sm-2")
                a(href="") Log Out
        block contenido